In [3]:
import pandas as pd
import numpy as np
car = pd.read_csv('quikr_car.csv')
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

car.shape

In [4]:
car.shape

(892, 6)

In [5]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [6]:
backup = car.copy()

In [7]:
car = car[car['year'].str.isnumeric()]

In [8]:
car['year']=car['year'].astype(int)

In [9]:
car = car[car['Price'] != "Ask For Price"]

In [10]:
car['Price'] = car['Price'].str.replace(',','').astype(int)

In [11]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int32
 3   Price       819 non-null    int32
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(2), object(4)
memory usage: 38.4+ KB

In [12]:
car['kms_driven'] = car['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [13]:
car = car[car['kms_driven'].str.isnumeric()]

In [14]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(2), object(4)
memory usage: 38.3+ KB

In [15]:
car['kms_driven'] = car['kms_driven'].astype(int)

In [16]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [17]:
car = car[~car['fuel_type'].isna()]

In [18]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   Price       816 non-null    int32
 4   kms_driven  816 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [19]:
car['name'] = car['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [20]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   Price       816 non-null    int32
 4   kms_driven  816 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [21]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
3         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
4    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
6                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
883      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
885          Tata Indica V2      Tata  2009  110000       30000    Diesel
886    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
888            Tata Zest XM      Tata  2018  260000       27000    Diesel
889      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [22]:
car  = car.reset_index(drop = True)

In [23]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [24]:
car  = car[car['Price']<6e6].reset_index(drop = True)

In [25]:
car.to_csv('Cleaned_car.csv')

In [26]:
x = car.drop(columns = 'Price')
y = car['Price']

In [27]:
x

                       name   company  year  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel
2         Hyundai Grand i10   Hyundai  2014       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014       36000    Diesel
4                 Ford Figo      Ford  2012       41000    Diesel
..                      ...       ...   ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011       50000    Petrol
811          Tata Indica V2      Tata  2009       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009      132000    Petrol
813            Tata Zest XM      Tata  2018       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013       40000    Diesel

[815 rows x 5 columns]

In [28]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2)

In [29]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [30]:
ohe  = OneHotEncoder()
ohe.fit(x[['name','company','fuel_type']])

OneHotEncoder()

In [31]:
column_trans = make_column_transformer((OneHotEncoder(categories = ohe.categories_),['name','company','fuel_type']),remainder='passthrough')

In [32]:
lr = LinearRegression()

In [33]:
pipe = make_pipeline(column_trans,lr)

In [34]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [35]:
y_pred = pipe.predict(x_test)
y_pred

array([ 1.27151726e+06,  2.11164609e+05,  7.39465755e+05,  5.91388485e+05,
        5.45272216e+05,  1.94429817e+05,  1.31072871e+05,  7.87064399e+05,
        3.56743635e+05,  5.97733974e+05,  3.32801374e+05,  6.59308077e+05,
        5.52519182e+05,  1.06504200e+06, -1.61984636e+02,  1.93073996e+05,
        2.32231449e+05,  1.12674037e+06,  4.00051262e+05,  2.35842597e+05,
        4.60725421e+05,  2.60017704e+05,  9.62506388e+04,  5.54256981e+05,
       -2.85075273e+05,  6.13597204e+05,  4.31890774e+05, -1.94360381e+05,
        8.17537828e+04,  3.84825651e+05,  1.20982585e+06,  4.98890121e+04,
        5.91362067e+05,  2.14190461e+05,  5.91362067e+05,  2.02172139e+05,
        1.05626104e+06, -3.47363266e+04,  3.48193764e+05,  4.28475960e+05,
        4.32500333e+05,  2.62330379e+05,  3.44819546e+05,  1.29949686e+05,
        5.24577834e+05,  1.28903194e+06,  2.58459317e+05, -1.67247381e+04,
       -1.69003996e+04,  4.91330825e+05,  4.23126046e+05,  4.37996915e+05,
        2.51733619e+05,  3.00195698e+04,  2.76145571e+05, -2.57136606e+05,
        3.23209447e+05,  7.18128460e+05,  4.72934598e+04,  1.12702305e+05,
        1.68568557e+05,  4.83779300e+05,  5.55183529e+05,  7.39465755e+05,
        6.87735621e+05,  3.09069351e+05,  7.75254896e+05, -6.65051644e+03,
        2.93332316e+05,  2.34947267e+05,  4.90495252e+05,  4.61447122e+05,
        7.84809227e+05,  6.93512653e+05,  8.11778891e+05,  4.26999224e+05,
        5.37253471e+05,  5.54776091e+05,  2.24236729e+05,  3.62311450e+05,
        5.91128930e+05,  4.89020476e+05,  2.37494223e+05,  3.02446944e+05,
        3.68470006e+05,  4.68275349e+05,  3.91196103e+05,  4.89020476e+05,
        4.06754668e+05,  1.86816423e+05,  8.01975296e+05,  4.91656259e+05,
        6.71043438e+05,  2.87013998e+05,  5.23977044e+05,  2.26109975e+05,
        1.40258413e+05,  6.58125510e+05,  2.02802021e+05,  5.86897717e+05,
        3.72467157e+05,  2.42464349e+05,  3.58041828e+05,  4.24583899e+05,
        2.58459317e+05,  1.82718978e+05,  1.75153308e+05,  3.13133574e+05,
        1.16894562e+05,  1.71754153e+05,  4.75512260e+05,  4.03304412e+05,
        4.25976455e+05, -1.52276738e+05,  2.03780647e+05,  2.50602015e+05,
        2.83906913e+05,  4.49341537e+05, -1.87325439e+05,  5.31341775e+05,
        4.36282208e+05,  4.32993584e+04,  3.99035964e+05,  4.88278757e+05,
        1.69297229e+05,  3.46636432e+05,  2.02181799e+06,  3.52185325e+05,
        1.65408412e+05,  2.93225292e+05,  4.46036958e+04, -7.35946155e+04,
        5.53297848e+05,  1.13928197e+06, -7.14570187e+04,  6.43872381e+05,
        2.18282492e+05,  3.06412829e+05,  1.28215894e+05,  4.42272860e+05,
        4.84708569e+05, -1.71519520e+05,  2.95846454e+05,  4.83151238e+05,
        3.29910536e+05,  3.23613620e+05,  2.79363127e+05,  2.37399928e+05,
        2.88033963e+05,  2.21041470e+05,  1.17041169e+05,  1.49786237e+05,
        3.11165155e+05,  4.39914599e+05,  6.81722961e+05,  5.69607923e+05,
        2.74350252e+05,  3.52206129e+05,  4.06772690e+05,  4.22428252e+05,
        6.31429865e+05,  5.17247147e+05,  4.07814750e+05])

In [36]:
r2_score(y_test,y_pred)

0.559619332407095

In [38]:
scores = []
for i in range(1000):
    x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2, random_state=i)
    lr = LinearRegression()
    pipe = make_pipeline(column_trans,lr)
    pipe.fit(x_train,y_train)
    y_pred = pipe.predict(x_test)
    scores.append(r2_score(y_test,y_pred))

In [39]:
np.argmax(scores)

433

In [40]:
scores[np.argmax(scores)]

0.8456891236558007

In [41]:
    x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2, random_state=np.argmax(scores))
    lr = LinearRegression()
    pipe = make_pipeline(column_trans,lr)
    pipe.fit(x_train,y_train)
    y_pred = pipe.predict(x_test)
    r2_score(y_test,y_pred)

0.8456891236558007

In [42]:
import pickle

In [43]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [44]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']],columns=['name','company','year','kms_driven','fuel_type']))

array([458961.88116883])